<form method="get">
    <f:if condition="{pageType}">
        <input type="hidden" name="id" value="{pageUid}" />
        <input type="hidden" name="type" value="{pageType}" />
    </f:if>
    <label for="prGoogleCseQuery"><f:translate key="tx_prgooglecse_search.query"/></label>
    <input type="text" class="form-input" id="prGoogleCseQuery" name="prGoogleCseQuery" value="{prGoogleCseQuery}" />
    <input type="submit" class="button" id="prGooglCseSubmit" value="{f:translate(key:'tx_prgooglecse_search.submit')}" />
</form>