<f:render partial="Searchform" arguments="{search: search}"/><br/>

<h2>
	<f:translate key="tx_prgooglecse_domain_model_search"/>
	{search.query}
</h2>
<p>
	<f:translate key="tx_prgooglecse_domain_model_search.totalResults"/>
	{search.totalResults}
</p><br/>

<f:if condition="{results}">
	<f:then>
		<f:for each="{results}" as="result">
			<div class="tx_prgooglesearch-panel">
				<div class="tx_prgooglesearch-panel-head">
					<a href="{result.link}">
						<f:format.raw>{result.title}</f:format.raw>
					</a>
				</div>
				<div class="tx_prgooglesearch-panel-body">
					<f:format.raw>{result.snippet}</f:format.raw>
				</div>
				<div class="tx_prgooglesearch-panel-foot">
					<a href="{result.link}"
					   title="{f:translate(key:'LLL:EXT:pr_googlecse/Resources/Private/Language/locallang.xml:tx_prgooglecse_domain_model_search.openResult')}"
					   class="field button">
						<f:translate key="tx_prgooglecse_domain_model_search.openResult"/>
					</a>
				</div>
			</div>
		</f:for>

		<p>
			<f:translate key="tx_prgooglecse_domain_model_search.page"/>
			{search.links.activePage}
			<f:translate key="tx_prgooglecse_domain_model_search.pageof"/>
			{search.links.totalPages}
		</p>
		<f:link.action action="search" arguments="{search: search.links.firstPage}">
			<f:translate key="tx_prgooglecse_domain_model_search.firstpage"/>
		</f:link.action>
		<f:for each="{search.links.pagination}" as="link" iteration="iterator" key="key">
			<f:link.action action="search" arguments="{search : link}">{key}</f:link.action>
		</f:for>
		<f:link.action action="search" arguments="{search: search.links.lastPage}">
			<f:translate key="tx_prgooglecse_domain_model_search.lastpage"/>
		</f:link.action>
	</f:then>
	<f:else>
		<f:translate key="tx_prgooglecse_domain_model_search.noresults"/>
	</f:else>
</f:if>