<f:render partial="Searchform" arguments="{query: search.query}"/><br/>
<h2>
	<f:translate key="tx_prgooglecse_domain_model_search"/>
	{search.query}
</h2>
<p>
	<f:translate key="tx_prgooglecse_domain_model_search.totalResults" arguments="{0: search.totalResults}"/>
</p>

<f:if condition="{results}">
	<f:then>
		<f:for each="{results}" as="result">
			<f:render partial="Result" arguments="{result: result}"/>
		</f:for>

		<f:if condition="{search.links.activePage} > 0">
			<p>
				<f:translate key="tx_prgooglecse_domain_model_search.page"/>
				{search.links.activePage}
				<f:translate key="tx_prgooglecse_domain_model_search.pageof"/>
				{search.links.totalPages}
			</p>
			<f:render partial="Pagination" arguments="{search: search}"/>
		</f:if>
	</f:then>
	<f:else>
		<f:translate key="tx_prgooglecse_domain_model_search.noresults"/>
	</f:else>
</f:if>
